:root {

    /**
     * colors
     */
    /* gradient */
  
    --bg-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(240, 1%, 25%) 3%, 
      hsl(0, 0%, 19%) 97%
    );
    --bg-gradient-jet: linear-gradient(
      to bottom right, 
      hsla(240, 1%, 18%, 0.251) 0%, 
      hsla(240, 2%, 11%, 0) 100%
    ), hsl(240, 2%, 13%);
    --bg-gradient-yellow-1: linear-gradient(
      to bottom right, 
      hsl(246.4,100%,70.8%),  0%, 
      hsla(36, 100%, 69%, 0) 50%
    );
    --bg-gradient-yellow-2: linear-gradient(
      135deg, 
      hsla(45, 100%, 71%, 0.251) 0%, 
      hsla(35, 100%, 68%, 0) 59.86%
    ), hsl(240, 2%, 13%);
    --border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0.045) 50%
    );
    --text-gradient-yellow: linear-gradient(
      to right, 
      hsl(246.4,100%,70.8%), 
      hsl(257.5,100%,82.5%)
    );
  
    /* solid */
  
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --purple: hsl(251,100%,76.5%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);
  
    /**
     * typography
     */


  
    /* font-family */
    --ff-lato: 'Lato', sans-serif;
    
  
    /* font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;
  
    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
  
    /**
     * shadow
     */
    
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;
    
  
  }

  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: none; }
  
  li { list-style: none; }
  
  img, ion-icon, a, button, time, span { display: block; }
  
  button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
  }
  
  ::selection {
    background: var(--purple);
    color: var(--smoky-black);
  }
  
  :focus { outline-color: var(--purple); }
  
  html { font-family: var(--ff-lato); }
  
  body { background: var(--smoky-black); }

  
.h2,
.h3,
.h4,
.h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

  
/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /
  }
  
  /* Estilos generales */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Evita que el contenido detrás se pueda ver inicialmente */
}

/* Transición de desvanecimiento */
#lottie-container, #content {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Transición suave de 1 segundo */
}

#lottie-container.hidden, #content.show {
  opacity: 0; /* Oculta el contenedor de Lottie */
}
#content.show {
  opacity: 1; /* Muestra el contenido de la página con desvanecimiento */
}

#lottie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Asegura que esté por encima del contenido de la página */
}

dotlottie-player {
  width: 100%;
  height: 80%;
}

#load-btn {
  font-family: var(--ff-lato);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  position: relative;
  width: 175px;
  height: 50px;
  background-color: #121212;
  display: flex;
  align-items: center;
  color: #c0a6ff;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

#load-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 184px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #554dde 0%, #c0a6ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#load-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #554dde 0%, #c0a6ff 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

#load-btn:hover::after {
  filter: blur(30px);
}

#load-btn:hover::before {
  transform: rotate(-180deg);
}

#load-btn:active::before {
  scale: 0.7;
}


/* Estilos para cuando se oculta el contenedor de carga */
#content {
  display: none;
  opacity: 0; /* Oculto inicialmente con opacidad */
  height: 100%; /* Ocupa toda la pantalla */
}

/* Estilos para móviles */
@media (max-width: 768px) {
  #lottie-container {
    flex-direction: column;
    justify-content:flex-start;
  }

  dotlottie-player {
    height: 50%; /* En móviles el Lottie ocupará menos espacio */
  }

  #load-btn {
    margin-top: 10px;
  }
}

